/* Global */
body {
    padding-top: 15px;
}

.main-page-title {
    width: inherit;
}

/* Pills */
.nav-pills > .active > .category-item-pill,
.nav-pills > .active > .category-item-pill:focus {
    background-color: peachpuff;
    color: #000;
}

[data-items-count="0"],
[data-items-count="0"]:focus,
[data-items-count="0"]:hover {
    color: grey;
    opacity: 0.7;
}

/* Product */
.category-product {
    margin-bottom: 30px;
}

.product-title {
    font-size: 1.5em;
    display: block;
}

.btn-add-to-cart .glyphicon::before {
    font-size: 1.1em;
}

/* Ads */
.ad {
    color: #333;
    display: block;
    font-size: .8em;
    text-decoration: none;
}

.ad:hover {
    color: #333;
    text-decoration: none;
}

.ad-title {
    display: block;
    font-size: 2em;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* Mobile */
@media screen and (max-width: 767px) {
    .category-title {
        font-size: 1.4em;
        text-align: right;
    }
}
